<footer class="footer centered-text">
	<p>Copyright &copy; {{ .Now.Format "2006" }} {{ .Site.Params.Name }} -
		<span class="credit">Powered by <a target="_blank" href="https://gohugo.io">Hugo</a></span>
	</p>
</footer>
